body {
  overflow: hidden;
}

h1 {
  font-family: "Lucida Console", Courier, monospace;
  font-style: oblique;
  text-align: center;
}

h2 {
  font-family: "Lucida Console", Courier, monospace;
  font-style: oblique;
  text-align: center;
}



h3 {
  font-family: "Lucida Console", Courier, monospace;
  font-style: oblique;
  text-align: center;
}

.tylermneher {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: auto;
}

.az900-badge {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: auto;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}


#footer {
  font-family: "Lucida Console", Courier, monospace;
  width: 100%;
  position: absolute;
  height: 2.5rem;
  text-align: center;
  left: 0;
}

.links {
  font-family: "Lucida Console", Courier, monospace;
  font-style: oblique;
  text-align: center;
}